<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <add name="JoJoEntities1" connectionString="metadata=res://*/JoJoModel.csdl|res://*/JoJoModel.ssdl|res://*/JoJoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.5;initial catalog=JoJo;persist security info=True;user id=T_User1;password=us1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JoJoEntities" connectionString="metadata=res://*/JoJoModel.csdl|res://*/JoJoModel.ssdl|res://*/JoJoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YIXIAO-YOGA\MSSQLSERVER01;initial catalog=JoJo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />




  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
